{#
/**
 * @file term.html.twig
 * Default theme implementation to present Term data.
 *
 * This template is used when viewing Term pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_term()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('term') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
